server {
    listen *:80;
    server_name ap.admin;

    root       /var/www/ap.admin/docs/web_docroot;
    access_log /var/www/ap.admin/logs/access.log;
    error_log  /var/www/ap.admin/logs/error.log;

    set $phpini "
        error_log=/var/www/ap.admin/logs/php-errors.log
    ";

    index index.php index.html;

    location ^~ /asset|cdn/ {
    }

    location ^~ /public/file/ {
        try_files - @run_script;
    }

    location ~ ^[^\.]+(\.(php|html))?$ {
        try_files - @run_script;
    }

    location @run_script {
        include fastcgi_params;
        fastcgi_param PHP_VALUE $phpini;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }
}
